<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>New Page</title>
  <link rel="stylesheet" href="stylesheets/default.css" type="text/css" media="all" />
</head>
<body>

<p><form action="editor.cgi" method="get">
<input type="hidden" name="cmd" value="edit" />
Page Name: 
  <input type="text" name="page" size="50" maxlength="50" />
  <input type="submit" name="create" value="new" />
</form></p>
<p>Valid Characters: A-Z, a-z, 0-9, _, - ([\w\-])</p>

</body>
</html>
