  <ul>
    <li class="wsep"><a href="editor.cgi?cmd=new"                       >Create</a></li>
    <li class="wsep"><a href="editor.cgi?cmd=edit&amp;page=<%= page_name %>">Edit</a></li>
    <li class="wsep"><a href="editor.cgi?cmd=src&amp;page=<%= page_name %>" >Source</a></li>
    <li class="wsep"><a href="editor.cgi?cmd=pdf&amp;page=<%= page_name %>" >PDF</a>
                     <a href="editor.cgi?cmd=dbg&amp;page=<%= page_name %>" >(debug info)</a></li>
    <li class="wsep"><a href="editor.cgi"                               >Home</a></li>
    <li>             <a href="editor.cgi?cmd=pages"                     >Pages</a></li>
  </ul>
