  <ul>
    <li class="wsep"><a href="index.cgi" >Home</a></li>
    <li class="wsep"><a href="index.cgi?cmd=src&amp;page=<%= page_name %>" >Source</a></li>
    <li             ><a href="index.cgi?cmd=pdf&amp;page=<%= page_name %>" >PDF</a></li>
  </ul>
