<html>
<head>
<meta http-equiv="refresh" content="1; url=editor.cgi?page=<%= page_name %>" />
<title>Saving <%= page_name %></title>
<link rel="stylesheet" href="stylesheets/default.css" type="text/css" media="all" />
</head>
<body>
<h1>Saving ...</h1>
<p>Wait a moment or <a href="editor.cgi?page=<%= page_name %>"
>Click here</a>.</p>
</body>
</html>
